{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}


    <div class="container">
        <h1>My Account Info </h1>
        <p><strong>First Name:</strong>  {{ user.first_name}} </p>
        <p><strong>Last Name:</strong>  {{ user.last_name}} </p>
        <p><strong>Email:</strong> {{user.email }}</p>
        <p><strong>Username: </strong> {{user.username }}</p>
        <p><strong>Phone Number: </strong>{{ user.phone_number}}</p>
    </div>

    <div class="container">
        <h1>My Profile </h1>
        <p><strong>Orginization Pledged:</strong>  {{ user.orginization}} </p>
        <p><strong>Chapter Pledged:</strong>  {{ user.chapters_pledged}} </p>
        <p><strong>Year Pledged:</strong>  {{ user.year_pledged}} </p>
        <p><strong>Major:</strong> {{user.major }}</p>
        <p><strong>Year Graduated:</strong> {{user.year_graduated }}</p>
        <p><strong>Current Position:</strong> {{user.current_position }}</p>
        {% if user.business %}
            <p><strong>Business:</strong> {{user.business }}</p>
        {% endif %}
        {% if user.linkedin %}
            <p><strong>LinkedIn:</strong> {{user.linkedin }}</p>
        {% endif%}
        {% if user.bio %}
            <p><strong>Bio:</strong> {{user.bio }}</p>
        {% endif%}

    </div>

    <a href="{% url 'home' %}" class="btn btn-primary">Return Home</a>

{% endblock %}